html.md {
    --default-font: Avenir !important;
}

body{text-align:center;}

.custom-class {
    float: right;
}

.card-title.tilteCss {
    text-align: center;
    color: green;
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

svg {
    display: block !important;
    margin: auto !important;
}

.topright {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
  }
  .bottomright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 6px;
  }

  .offerLabel {
    text-align: center;
    font-size: larger;
    font-style: oblique;
    font-weight: 700;
    border-style: dashed;
    border-width: 2px;
    border-color: green;
    color: green;
  }

  html, body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
}
#confetti{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}