html.md {
    --default-font: Avenir !important;
}

body{text-align:center;}

.custom-class {
    float: right;
}

.card-title.tilteCss {
    text-align: center;
    color: green;
    font-size: 1.5rem;
    height: 55px;
    margin: 8px;
}

svg {
    display: block !important;
    margin: auto !important;
}