

<div class="card" style="display: block;width: 80%; margin-left: 10%;" >
  <img class="card-img-top" src="assets/sparlogo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;padding: 8px;">Welcome to SPAR Gamification experience!</h5>
    <p class="card-text" style="text-align: center;padding: 8px;">The more, the merrier! Play the Game and win exciting <b>SPAR HYPERMARKET</b> Deals, Offers and Rewards! </p>
    <a routerLink="/" href="#" class="btn btn-primary" style="text-align: center" (click)="onButtonClick()">Experience Gamification</a>
  </div>
</div>